body {
  font-family:
    'Inter Variable',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > main {
  margin: 0 1rem 1rem 1rem;
}

.fancybox__dialog .is-horizontal.is-ltr .f-button.is-arrow.is-prev {
  left: 8px;
}

.fancybox__dialog .is-horizontal.is-ltr .f-button.is-arrow.is-next {
  right: 8px;
}

#welcome {
  background-color: var(--color-bg-0);
  color: var(--color-fg-text);
}

.fancybox__slide--current {
  opacity: 1 !important; /* Force full opacity for current slide */
  transition: none !important; /* Optionally disable transition if causing flicker */
}

.max-w-prose {
  max-width: 70ch;
}

@media (max-width: 768px) {
  .fancybox__dialog .is-horizontal.is-ltr button.f-button.is-arrow.is-prev,
  .fancybox__dialog .is-horizontal.is-ltr button.f-button.is-arrow.is-next {
    width: 35px;
    height: 35px;
  }

  .fancybox__dialog .is-horizontal.is-ltr .f-button.is-arrow.is-next svg,
  .fancybox__dialog .is-horizontal.is-ltr .f-button.is-arrow.is-prev svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 400px) {
  .fancybox__dialog .is-horizontal.is-ltr button.f-button.is-arrow.is-prev,
  .fancybox__dialog .is-horizontal.is-ltr button.f-button.is-arrow.is-next {
    width: 25px;
    height: 25px;
  }

  .fancybox__dialog .is-horizontal.is-ltr .f-button.is-arrow.is-next svg,
  .fancybox__dialog .is-horizontal.is-ltr .f-button.is-arrow.is-prev svg {
    width: 15px;
    height: 15px;
  }
}

/* Base mobile row span */
.masonry-item {
  grid-row: span var(--rs-base) / span var(--rs-base);
}
/* Update span at each breakpoint */
@media (min-width: 640px) {
  .masonry-item {
    grid-row: span var(--rs-sm) / span var(--rs-sm);
  }
}
@media (min-width: 768px) {
  .masonry-item {
    grid-row: span var(--rs-md) / span var(--rs-md);
  }
}
@media (min-width: 1024px) {
  .masonry-item {
    grid-row: span var(--rs-lg) / span var(--rs-lg);
  }
}
@media (min-width: 1280px) {
  .masonry-item {
    grid-row: span var(--rs-xl) / span var(--rs-xl);
  }
}
@media (min-width: 1536px) {
  .masonry-item {
    grid-row: span var(--rs-2xl) / span var(--rs-2xl);
  }
}
